{% extends "layout.html" %}
{% block content %}

  <div class="allcard">
    <div class="card" style="width: 13rem">
      <img class="card-img-top" src="/static/profile_pics/supplierphoto.png" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title cardword">Add Supplier</h5>
        <a href="{{ url_for('new_supplier') }}" class="btn btn-primary cardword">Click To Add</a>
      </div>
    </div>


    <div class="card" style="width: 13rem">
      <img class="card-img-top" src="/static/profile_pics/product.png" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title cardword">Add Products</h5>
        <a href="{{ url_for('new_product') }}" class="btn btn-primary cardword">Click To Add</a>
      </div>
    </div>

     <div class="card" style="width: 13rem">
      <img class="card-img-top" src="/static/profile_pics/payment.png" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title cardword">Add Payments</h5>
        <a href="{{ url_for('new_payment') }}" class="btn btn-primary cardword">Click To Add</a>
      </div>
    </div>

    <div class="card" style="width: 13rem">
      <img class="card-img-top" src="/static/profile_pics/category.png" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title cardword">Add Category</h5>
        <a href="{{ url_for('new_category') }}" class="btn btn-primary cardword">Click To Add</a>
      </div>
    </div>



     <div class="card" style="width: 13rem">
      <img class="card-img-top" src="/static/profile_pics/productandsupplier.png" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title cardword">Assign Product and Supplier</h5>
        <a href="{{ url_for('new_assign') }}" class="btn btn-primary cardword">Click To Assign</a>
      </div>
    </div>



     <div class="card" style="width: 13rem">
      <img class="card-img-top" src="/static/profile_pics/orders.png" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title cardword">See Orders</h5>
        <a href="{{ url_for('order_home') }}" class="btn btn-primary cardword">Click To See</a>
      </div>
    </div>

</div>

{% endblock content %}