{% extends "layout.html" %}
{% block content %}
  <article class="media content-section">
<!--    <img class="rounded-circle article-img" src="{{ url_for('static', filename='profile_pics/default.jpg')}}"> -->
    <div class="media-body">
      <div class="article-metadata">
        <a class="mr-2" href="#">{{ order.OrderID}} - </a>
        <small class="text-muted">{{now.strftime('%A %B, %d %Y %H:%M:%S')}}</small>

         
 
      </div>

    </div>
  </article>
  <!-- Modal -->
  
{% endblock content %}