{% extends "layout.html" %}
{% block content %}
    {% for row in outString %}
        <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="{{ url_for('product', ProductID=row.ProductID) }}">Edit</a>      
              <small class="text-muted"> Product ID: {{ row['ProductID'] }} </small>      
            </div>
      <h2><a class="article-title" href="{{ url_for('product', ProductID=row.ProductID) }}"> {{ row.ProductName }}</a></h2>
      <h2>Category ID: {{ row.CategoryID }} </h2>
           
          </div>
        </article>
     {% endfor %}
{% endblock content %}